

<section class="d-flex flex-column container-fluid row m-0 p-0 bg-gradientViolet welcomeSect">

  <article class="d-flex flex-row justify-content-center align-items-center col-12 row introduction m-0 p-0 mb-5">
      <div class="col-12 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-start">
          <h1>
            ¡Bienvenido!
          </h1>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="d-flex flex-row btnsIntroduction">
            <button class="btnSmart btn-secondBlue">See More</button>
            <button class="btnSmart btn-mainBlue">Get Started</button>
          </div>
      </div>

      <figure class="col-12 col-md-6 d-flex flex-column justify-content-end m-0 p-0 mb-4 align-items-end">
          <div class="starHorizon">
            <div class="starCircle"></div>
          </div>

          <img class="smartCity" src="../../../assets/Illustrations/SmartCity.png" alt="SmartCity">
      </figure>

      <a href="#" class="d-sm-none d-md-flex">
        <svg width="40" height="35" viewBox="0 0 56.91 25.41">
          <defs>
            <linearGradient id="linear-gradient" x1="1831.25" y1="1210.175" x2="1774.34" y2="1210.175" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#6a82de"/>
              <stop offset="1" stop-color="#a176f4"/>
            </linearGradient>
          </defs>
          <path id="Down" class="icon-down" d="M1829.86,1197.47l-27.1,12.88-27.28-12.88-1.13,2.53,28.68,13.36,28.23-13.36Zm0,9.5-27.1,12.89-27.28-12.89-1.13,2.53,28.68,13.36,28.23-13.36Z" transform="translate(-1774.34 -1197.47)"/>
        </svg>
      </a>
  </article>

<!-- Second Section -->
  <article class="container-fluid d-flex flex-row justify-content-center align-items-center col-12 m-0 p-0 mt-5 mb-5 row services">

      <section class="d-flex flex-column flex-md-row justify-content-center align-items-center m-0 p-4 servicesCards col-12 col-md-6 row">
        <div class="col-12 row cardLg">
          <div class="d-flex flex-column justify-content-center align-items-center col-12 card-lg">
            <h3>Servicio Personalizado</h3>

              <img src="../../../assets/Illustrations/ServicioPersonal.png" alt="Servicio Personal" width="75%">

            <p class="text-black aling-items-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, vel, reiciendis. Quas voluptatibus in, ea saepe quo?.
            </p>

            <button type="button" name="button" class="btnSmart btn-mainPurple">See More</button>
          </div>
        </div>

          <div class="col-12 row cardsSm">
            <div class="d-flex flex-column align-items-center justify-content-around col-12 card-sm">
              <h3>Cuidad Especial</h3>
              <img src="../../../assets/Illustrations/AtencionUnica.png" alt="Atencion Unica" width="70%">
            </div>
            <div class="d-flex flex-column align-items-center justify-content-around col-12 card-sm">
              <h3>Seguridad Primero</h3>
              <img src="../../../assets/Illustrations/SeguridadSiempre.png" alt="Seguridad Siempre" width="70%">
            </div>
          </div>

          <div class="starHorizon2">
            <div class="starCircle"></div>
          </div>
      </section>

      <article class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center m-0 p-4">
        <h1>SERVICIOS</h1>
        <figure>
          <img src="../../../assets/Illustrations/ServicioEstudiantil.png" alt="Estudiantes Universitarios" width="80%">
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta similique, maiores ex impedit assumenda molestiae iusto dignissimos et nihil.
        </p>

          <button class="btnSmart btn-mainBlue mt-2">
              Call To Action
          </button>

      </article>
  </article>

</section>
<!-- Fin second section -->

<article class="d-flex flex-column justify-content-start align-items-start p-5 row prices">
  <h1>Planes</h1>
  <p class="text-black">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, alias perspiciatis, sint cumque in doloremque, omnis voluptatibus vitae quisquam obcaecati ea beatae quo eum saepe ab asperiores aspernatur dicta molestias similique laudantium ipsam odit.
  </p>

  <section class="d-flex flex-row justify-content-around p-0 m-0 col-12 container row cardsPrices">

      <div class="col-12 col-sm-6 col-md-3 my-2 p-2">
        <div class="card-md">
          <figure class="circlePrice">
            <img src="" alt="">
          </figure>
          <h3>Titulo h3</h3>
          <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, accusamus cumque incidunt doloribus possimus.</p>
          <button type="button" name="button" class="btnSmart btn-secondGreen">Buy</button>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 my-2 p-2">
        <div class="card-md">
          <figure class="circlePrice">
            foto
          </figure>
          <h3>Titulo h3</h3>
          <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, accusamus cumque incidunt doloribus possimus.</p>
          <button type="button" name="button" class="btnSmart btn-secondGreen">Buy</button>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 my-2 p-2">
        <div class="card-md">
          <figure class="circlePrice">
            foto
          </figure>
          <h3>Titulo h3</h3>
          <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, accusamus cumque incidunt doloribus possimus.</p>
          <button type="button" name="button" class="btnSmart btn-secondGreen">Buy</button>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 my-2 p-2">
        <div class="card-md">
          <figure class="circlePrice">
            foto
          </figure>
          <h3>Titulo h3</h3>
          <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, accusamus cumque incidunt doloribus possimus.</p>
          <button type="button" name="button" class="btnSmart btn-secondGreen">Buy</button>
        </div>
      </div>


  </section>
</article>

<section class="d-flex flex-row justify-content-start align-items-start m-0 p-4 bg-gradientPurple container-fluid row nosotros">


  <div class="d-flex flex-row justify-content-center align-items-center col-12 m-0 p-0 mb-4 row sliderUs">

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-6 sliderImg">
      <figure class="d-flex justify-column-center align-items-center m-0 p-0 imgSmartWork">
        <img src="../../../assets/Illustrations/SmartWork.png" alt="Smart Work">
      </figure>

      <h1>CONOCENOS</h1>
      <h5>MEJOR COMUNIDAD</h5>
    </div>

    <section class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start sliderInfo">
      <h1>¿Quienes somos?</h1>
      <article class="d-flex flex-row align-items-start row  swiper-container slider">

        <div class="swiper-wrapper">


        <div class="col-3 mr-1 card-price swiper-slide">
          Hola
        </div>

        <div class="col-3 mr-1 card-price swiper-slide">
          Hola
        </div>

        <div class="col-3 mr-1 card-price swiper-slide">
          Hola
        </div>

        <div class="col-3 mr-1 card-price swiper-slide">
          Hola
        </div>

      </div>
      </article>
    </section>

  </div>

  <article class="d-flex flex-row col-12 justify-content-center align-items-center m-0 p-5 mt-2 row formData">
      <article class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start list">
          <h1>VENTAJAS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptates tempore sequi, consectetur at harum. Molestias ullam quasi quia odit aperiam officia veritatis corrupti hic.</p>
          <ul>
            <li>
              <svg width="20" height="20" viewBox="0 0 40 40">
                <text id="Checked" class="icon-checked" x="-0.299" y="39.951"></text>
              </svg>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>

            <li>
              <svg width="20" height="20" viewBox="0 0 40 40">
                <text id="Checked" class="icon-checked" x="-0.299" y="39.951"></text>
              </svg>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>

            <li>
                <svg width="20" height="20" viewBox="0 0 40 40">
                  <text id="Checked" class="icon-checked" x="-0.299" y="39.951"></text>
                </svg>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>
          </ul>
          <form action="index.html" method="post">
            <input type="text" placeholder="Ingresa tu correo electronico" name="" value="">
            <button type="submit" class="btnSmart btn-secondBlue my-3">Registrarme</button>
          </form>
      </article>

      <section class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start m-0 p-0 blogInfo">
        <figure class="d-flex flex-row m-0 p-2 blogImg">
          <img src="../../../assets/Illustrations/SmartBlog.png" alt="Daily smart blog">
          <div class="dailyBlog">
            <h1>DAILY</h1>
            <h1>BLOG</h1>
          </div>
        </figure>
        <h2 class="my-3">UNETE A NUESTRA COMUNIDAD</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio assumenda quaerat, reprehenderit ipsam molestias voluptates repudiandae numquam, iure ut!</p>
      </section>
  </article>




</section>
