<section class="container-fluid m-0 p-0 d-flex justify-content-center align-items-center shadow">
  <article class="m-0 p-0 lightbox">
      <h1>Titulo H1</h1>
      <hr>
      <div class="">
        <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas iusto nihil nisi optio odit dolorem molestiae provident eius dolores quaerat veritatis modi, praesentium laudantium vitae dolore ipsa similique debitis facere. Libero accusamus nobis harum optio delectus cum atque voluptatum quia, culpa voluptate, nulla, rerum facilis quas quod, consequatur iure!</p>

      </div>
  </article>
</section>
