<!--The content below is only a placeholder and can be replaced.-->
<section class="atomicDesign bg-gradientViolet">

  <section class="partOne">

    <article class="titles">
      <h1 class="h1">Title Official</h1>
      <h2>Title Official</h2>
      <h3>Title Official</h3>
      <h4>Title Official</h4>
      <h5>Title Official</h5>
    </article>

    <hr>

    <article class="texts">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis nostrum alias repellendus eius qui labore commodi, modi magnam exercitationem debitis iure architecto, rerum error facilis inventore doloremque eum quas quos?
      </p>
    </article>

    <article class="buttons">

        <button class="btnSmart btn-mainBlue">Call To Action</button>
        <button class="btnSmart btn-secondBlue">Call To Action</button>
        <button class="btnSmart btn-mainPurple">Call To Action</button>
        <button class="btnSmart btn-secondPurple">Call To Action</button>
        <button class="btnSmart btn-mainGreen">Call To Action</button>
        <button class="btnSmart btn-secondGreen">Call To Action</button>
    </article>

</section>

  <section class="partTwo">
    <article class="cards">
      <article class="card-lg">
      </article>
    </article>

    <section class="forms">
      <form class="" action="index.html" method="post">
        <input type="text" placeholder="Ingresa tu nombre">
      </form>

      <div class="form-login">
        <input type="text" placeholder="Ingresa tu usario" id="inputText">
        <div class="input-login"></div>
      </div>
    </section>

  </section>
</section>
