<section class="d-flex col-12 m-0 p-4 row flex-column justify-content-start sectPets">

  <article class="col-12 m-0 p-0 d-flex flex-column justify-content-start align-items-start row pets">

    <h1>MASCOTAS</h1>
    <hr>

    <article class="col-12 p-0 mb-2">
      <p class="text-black">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum minus iure et. Praesentium doloremque obcaecati fugit commodi, qui itaque consequuntur, odit architecto reprehenderit fuga quisquam.
      </p>
    </article>

    <div class="d-flex row justify-content-center justify-content-md-start align-items-center align-items-md-center m-0 p-0 col-12">
      <div class="mb-2 mr-2 p-0 col-12 col-md-4 justify-content-center align-items-center row">
        <app-pet-sm [homeView]="false"></app-pet-sm>
      </div>
      <div class="mb-2 mr-2 p-0 col-12 col-md-4 justify-content-center align-items-center row">
        <app-pet-sm [homeView]="false"></app-pet-sm>
      </div>
      <div class="mb-2 mr-2 p-0 col-12 col-md-4 justify-content-center align-items-center row">
        <app-card-small title="Agregar nueva mascota"></app-card-small>
      </div>
    </div>

  </article>

</section>
