<section class="d-flex col-12 m-0 p-4 row flex-column justify-content-start sectStart">

  <article class="col-12 m-0 p-0 d-flex flex-column justify-content-start align-items-start row dates">

    <h1>CITAS</h1>
    <hr>
    <div class="d-flex row justify-content-start align-items-start m-0 p-0 col-12">
      <div class="m-0 p-0 col-12 col-md-3 row">
        <app-pet-sm></app-pet-sm>
      </div>

      <div class="m-0 p-0 col-12 col-md-3">
        <app-pet-sm></app-pet-sm>
      </div>
    </div>

  </article>

  <article class="col-12 m-0 p-0 d-flex flex-column justify-content-start align-items-start row pets">
    <h1>MASCOTAS</h1>
    <hr>
    <div class="d-flex row justify-content-start align-items-start m-0 p-0 col-12">
      <div class="m-0 p-0 col-12 col-md-3">
        <app-pet-sm></app-pet-sm>
      </div>
      <div class="m-0 p-0 col-12 col-md-3">
        <app-pet-sm></app-pet-sm>
      </div>
    </div>

  </article>

</section>
