<section class="d-flex flex-row justify-content-center align-items-center row bg-gradientPurple m-0 p-0 row thanksPage">

<section class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start">
  <h1>THANKS FOR JOIN US!!</h1>
  <hr>
  <h3>WELCOME TO THE FAMILY JUAN! </h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti maxime nesciunt ducimus atque inventore illo, ad quam, debitis ratione, natus ea qui aut repudiandae magnam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellendus vero doloribus ut quia cumque quas dolor? Vel quos non architecto voluptatum maiores, impedit, quis, facilis maxime neque fugiat reprehenderit aliquid omnis explicabo esse veniam eligendi expedita odio soluta. Animi.
  </p>
  <app-button title="Next" color="mainPurple"></app-button>
</section>

<article class="col-12 col-md-6 p-4 d-flex justify-content-center align-items-center">
  <figure class="d-flex justify-content-center align-items-center">
    <img src="../../../assets/Illustrations/StartTravel.png" alt="Comenzar el viaje" width="80%">
  </figure>
</article>


</section>
