<section class="d-flex flex-row justify-content-center align-items-center row bg-gradientPurple m-0 p-0 row thanksPage">

<section class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start">
  <h1>THANKS FOR JOIN US!!</h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti maxime nesciunt ducimus atque inventore illo, ad quam, debitis ratione, natus ea qui aut repudiandae magnam?
  </p>
  <app-button title="Next" color="mainPurple"></app-button>
</section>

<article class="col-12 col-md-6">
  <figure>
    <img src="../../../assets/Illustrations/StartTravel.png" alt="Comenzar el viaje">
  </figure>
</article>


</section>
