/* You can add global styles to this file, and also import other style files */

/* Colors
Black = #333333
Blue = #5c92ff
Green = #99ff66
Purple = #a176f4

 */

 html{
   scroll-behavior: smooth;
 }


*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 300;
}

  /* Hr */
  hr{
    background-color: #5c92ff;
    min-width: 80%;
    border: solid 5px #5c92ff;
  }

  /* --------Scroll ---------- */
  ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}

 /* --------------- Titles --------------- */
 h1{
   color: #5c92ff;
   font-size: 6rem;
   font-family: 'Ubuntu';
   font-weight: 700;
 }
 h2{
   color: #5c92ff;
   font-size: 3.5rem;
   font-family: 'Ubuntu';
   font-weight: 500;
 }

 h3{
   color: #a176f4;
   font-size: 3rem;
   font-family: 'Ubuntu';
   font-weight: 700;
 }
 h4{
   color: #a176f4;
   font-size: 2.5rem;
   font-family: 'Ubuntu';
   font-weight: 500;
 }
 h5{
   color: white;
    font-family: 'Ubuntu';
    font-weight: 500;
 }

/* -------------- Lists --------------- */
li{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

footer li{
  color: #333333;
  padding: 0 !important;
}

/*--------------- Buttons ----------------- */

.btnSmart{
  min-width: 10rem;
  padding: 0.4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu';
  font-weight: 700;
  box-sizing: border-box;
}

    /* Btn Blue */
.btn-mainBlue{
  background-color: #5c92ff;
  color: white;
  border: solid 2px #5c92ff;
  transition: 0.2s ease-out;
  box-shadow: 0 0 0 0 #5c92ff;
}
.btn-mainBlue:hover{
    box-shadow: 0 0 14px 1px #5c92ff;
}

.btn-secondBlue{
  background-color: rgba(0,0,0,0);
  color: #5c92ff;
  border: solid 2px #5c92ff;
  transition: 0.2s ease-out;
  box-shadow: 0 0 0 0 #a176f4;
}
.btn-secondBlue:hover{
  box-shadow: 0 0 14px 1px #5c92ff;
}

    /* Btn Purple */
.btn-mainPurple{
  background-color: #a176f4;
  color: white;
  border: solid 2px #a176f4;
  transition: 0.2s ease-out;
  box-shadow:0 0 0 0 #a176f4;
}
.btn-mainPurple:hover{
  box-shadow: 0 0 14px 1px #a176f4;
}

.btn-secondPurple{
  background-color: rgba(0,0,0,0);
  color:#a176f4;
  border: solid 2px #a176f4;
  box-shadow: 0 0 0 0 #a176f4;
}
.btn-secondPurple:hover{
  box-shadow: 0 0 14px 1px #a176f4;
}

  /* Btn Green */
.btn-mainGreen{
  background-color: #99ff66;
  border: solid 2px #99ff66;
  color: white;
  transition: 0.2s ease-out;
  box-shadow: 0 0 0 0 #99ff66;
}
.btn-mainGreen:hover{
  box-shadow: 0 0 14px 1px #99ff66;
}

.btn-secondGreen{
  background-color: rgba(0,0,0,0);
  border: solid 2px #99ff66;
  color: #99ff66;
  transition: 0.2s ease-out;
  box-shadow: 0 0 0 0 #99ff66;
}
.btn-secondGreen:hover{
  box-shadow: 0 0 14px 1px #99ff66;
}

/* ---------- Cards ------------ */
.card-lg{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: white;
  border: solid 1px #a176f4;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #5c92ff;
  transition: 0.4s ease-out;
  cursor: pointer;
  padding: 1rem;
  box-sizing: border-box;
}
.card-lg:hover{
  box-shadow: 0 0 30px 2px #5c92ff;
}

.card-md{
  min-width: 100%;
  max-width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  background-color: white;
  border: solid 1px #a176f4;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #a176f4;
  transition: 0.4s ease-out;
  cursor: pointer;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.card-md:hover{
  box-shadow: 0 0 10px 1px #a176f4;
}

.card-sm{
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
  background-color: white;
  border: solid 1px #a176f4;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #5c92ff;
  transition: 0.4s ease-out;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}
.card-sm:hover{
  box-shadow: 0 0 15px 1px #5c92ff;
}

.card-slider{
  width: 100%;
  height: 100%;
  background-color: white;
  border: solid 1px #a176f4;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #5c92ff;
  transition: 0.4s ease-out;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}
.card-slider:hover{
  box-shadow: 0 0 30px 2px #5c92ff;
}


/* -------------- Stars ------------  */
.starCircle{
  padding: 35%;
  border-radius: 50%;
  background-color: #a862ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.starCircle:before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(135, 117, 217);
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(40px);
}

.circlePrice{
  min-width: 180px;
  width: 180px;
  height: 180px;
  min-height: 180px;
  border-radius: 100%;
  border: solid 2px #a176f4;
  background-color: white;
  position: relative;
  z-index: 2;
}
.circlePrice:before{
  content: '';
  width: 180px;
  height: 180px;
  min-height: 180px;
  border-radius: 100%;
  border: none;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 0 0 18px 1px #a176f4;

}
/* --------------- Form imputs ------------- */

input[type="text"]{
  min-width: 40%;
  padding: 6px;
  color: #333333;
  border: solid 2px #a176f4;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: lighter;
  box-shadow: 0 0 0px 0px #a176f4;
  transition: 0.2s ease-out;
}
input[type="text"]:focus{
  box-shadow: 0 0 15px 0px #a176f4;
}

.form-login{
  min-width: 40%;
  max-width: 55%;
  position: relative;
}

.form-login input[type="text"]{
  background-color: rgba(0, 0, 0, 0.0);
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 0 !important;
  height: none;
  box-shadow: 0 0 0;
  color: white !important;
  text-align: center;
  width: 100%
}
.form-login input[type="text"]:hover{
  box-shadow: 0 0 0 0 gray;
  font-size: 1rem;
}

.form-login input[type="password"]{
  background-color: rgba(0, 0, 0, 0.0);
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 0 !important;
  height: none;
  font-weight: lighter;
  box-shadow: 0 0 0px 0px #a176f4;
  transition: 0.2s ease-out;
  color: white !important;
  text-align: center;
  font-size: 0.8rem;
  color: #333333;
  width: 100%
}
.form-login input[type="password"]:hover{
  box-shadow: 0 0 0 0 gray;
  font-size: 1rem;
}

.input-login{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-image: -moz-linear-gradient( 1deg, rgb(106,130,222) 0%, rgb(135,117,217) 100%);
  background-image: -webkit-linear-gradient( 1deg, rgb(106,130,222) 0%, rgb(135,117,217) 100%);
  box-shadow: 0 0 0 0 #5c92ff;
  transition: 0.2s ease-out;
}

.form-login input[type="text"]:focus~.input-login{
  box-shadow: 0 0 8px 1px #5c92ff;
}

.form-login input[type="password"]:focus~.input-login{
  box-shadow: 0 0 8px 1px #5c92ff;
}


 /* ---------- Color text -------------- */
p{
  color: white;
  font-size: 3vh;
  box-sizing: border-box;
}

 .text-black{
   color: #333333;
 }

 .text-blue{
   color: #5c92ff;
 }

 .text-green{
   color: #99ff66;
 }

 .text-purple{
   color: #a176f4;
 }

 /* -------------- Backgrounds colors -------------- */

.bg-white{
  background-color: white;
}

.bg-gradientViolet{
  background-image: -moz-linear-gradient( -62deg, rgb(130,86,239) 0%, rgb(86,57,180) 26%, rgb(41,28,120) 100%);
  background-image: -webkit-linear-gradient( -62deg, rgb(130,86,239) 0%, rgb(86,57,180) 26%, rgb(41,28,120) 100%);
  /*
  background-image: -ms-linear-gradient( -62deg, rgb(130,86,239) 0%, rgb(86,57,180) 26%, rgb(41,28,120) 100%); */
}

.bg-gradientPurple{
  background-image: -moz-linear-gradient( 112deg, rgb(130,86,239) 0%, rgb(86,57,180) 11%, rgb(41,28,120) 100%);
  background-image: -webkit-linear-gradient( 112deg, rgb(130,86,239) 0%, rgb(86,57,180) 11%, rgb(41,28,120) 100%);
}

/* ---------- Icons ----------- */
.iconsMedia{
  padding: 5px;
}

.mediaSocial:hover{
  fill:-moz-linear-gradient( 90deg, rgb(106,130,222) 0%, rgb(163,106,212) 100%);
  fill:-webkit-linear-gradient( 90deg, rgb(106,130,222) 0%, rgb(163,106,212) 100%);
}


.mediaSocial{
  fill: #a176f4;
  fill-rule: evenodd;
  transition: 0.3s ease-in-out;
}

.icon-checked {
  font-size: 40px;
  fill: #9f6;
  font-family: "Segoe MDL2 Assets";
}

.icon-down {
  fill-rule: evenodd;
  fill: url(#linear-gradient);
}

/* ------- Responsive things --------- */
@media (min-width:)
