<section class="container-fluid m-0 p-0 bg-gradientPurple row d-flex flex-column justify-content-around align-items-center loginSect">

<article class="row col-12 d-flex justify-content-center mb-5 align-items-center flex-column">

  <div class="d-flex justify-content-center align-items-center m-0 p-0 mb-4 imgLogin">
    <figure  class="d-flex justify-content-center align-items-center m-0 p-0">
      <img src="../../assets/Illustrations/Logo3.png" alt="SmartPet logo">
    </figure>
  </div>

  <form method="post" (ngSubmit)="loginClient(data)" #data="ngForm" class="col-8 col-md-6 d-flex flex-column justify-content-center align-items-center">

    <div class="form-login col-8 col-md-6 m-2">
      <input type="email" placeholder="Ingresa tu usario" id="inputText" name="email" required ngModel>
      <div class="input-login"></div>
    </div>

    <div class="form-login col-8 col-md-6 p-3 mb-3">
      <input type="password" placeholder="Ingresa tu contraseña" id="inputText" name="password" required ngModel>
      <div class="input-login"></div>
    </div>

    <div class="d-flex m-0 p-0 flex-row col-8 justify-content-around align-items-center row p-3 mb-3 flex-row  btnsLogin">
      <button type="submit" name="button" class="btnSmart btn-mainPurple">Iniciar Sesión</button>
      <button name="button" class="btnSmart btn-secondPurple" routerLink="/Welcome">Regresar</button>
    </div>
  </form>
</article>


  <article class="d-flex flex-row container-fluid mt-2 p-2 justify-content-end align-items-end col-12 row footerLogin">
    <div class="col-md-6 d-flex flex-row justify-content-center justify-content-md-start align-items-end">
      <ul class="d-flex flex-row">
        <li>
          <a href="#">
            <svg width="20" height="20" viewBox="0 0 35 35">
              <path id="Facebook" class="mediaSocial icon-facebook" d="M2508.23,5795.73h-27.5a3.751,3.751,0,0,0-3.75,3.75v27.5a3.751,3.751,0,0,0,3.75,3.75h10.72v-11.9h-4.92v-5.6h4.92v-4.27c0-4.85,2.89-7.54,7.32-7.54a29.513,29.513,0,0,1,4.33.38v4.77h-2.44c-2.41,0-3.16,1.49-3.16,3.02v3.64h5.38l-0.86,5.6h-4.52v11.9h10.73a3.751,3.751,0,0,0,3.75-3.75v-27.5A3.751,3.751,0,0,0,2508.23,5795.73Z" transform="translate(-2476.97 -5795.72)"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="20" height="20" viewBox="0 0 35 35">
              <path id="Instagram" class="mediaSocial icon-instagram" d="M2538.81,5828.23v-23.37h-7.26v23.37h7.26Zm-3.63-26.56a4.22,4.22,0,1,0-4.2-4.24A4.234,4.234,0,0,0,2535.18,5801.67Zm30.79,26.56h0.01v-12.84c0-6.28-1.35-11.11-8.7-11.11a7.607,7.607,0,0,0-6.86,3.77h-0.1v-3.19h-6.96v23.37h7.24v-11.57c0-3.05.58-5.99,4.36-5.99,3.71,0,3.77,3.47,3.77,6.18v11.38h7.24Z" transform="translate(-2530.97 -5793.22)"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="20" height="20" viewBox="0 0 35 35">
              <path id="Twitter" class="mediaSocial icon-twitter" d="M2454.23,5795.73h-27.5a3.751,3.751,0,0,0-3.75,3.75v27.5a3.751,3.751,0,0,0,3.75,3.75h27.5a3.751,3.751,0,0,0,3.75-3.75v-27.5A3.751,3.751,0,0,0,2454.23,5795.73Zm-3.82,12.41c0.01,0.21.01,0.44,0.01,0.66a14.58,14.58,0,0,1-22.44,12.28,10.033,10.033,0,0,0,1.23.06,10.3,10.3,0,0,0,6.36-2.18,5.144,5.144,0,0,1-4.79-3.56,5.476,5.476,0,0,0,2.31-.09,5.13,5.13,0,0,1-4.1-5.03v-0.07a5.029,5.029,0,0,0,2.31.65,5.733,5.733,0,0,1-2.28-4.25v-0.01a5.02,5.02,0,0,1,.7-2.59,14.54,14.54,0,0,0,10.56,5.36,5.132,5.132,0,0,1,8.74-4.68,10.127,10.127,0,0,0,3.25-1.23,5.116,5.116,0,0,1-2.25,2.82,10.3,10.3,0,0,0,2.96-.8A11.007,11.007,0,0,1,2450.41,5808.14Z" transform="translate(-2422.97 -5795.72)"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="25" height="20" viewBox="0 0 42.65 30">
              <path id="Youtube" class="mediaSocial icon-youtube" d="M2626.92,5805.92a5.365,5.365,0,0,0-3.77-3.79c-3.33-.9-16.67-0.9-16.67-0.9s-13.35,0-16.67.9a5.347,5.347,0,0,0-3.77,3.79c-0.9,3.35-.9,10.34-0.9,10.34s0,6.99.9,10.34a5.269,5.269,0,0,0,3.77,3.73c3.32,0.9,16.67.9,16.67,0.9s13.34,0,16.67-.9a5.285,5.285,0,0,0,3.77-3.73c0.89-3.35.89-10.34,0.89-10.34S2627.81,5809.27,2626.92,5805.92Zm-24.81,16.68v-12.68l11.15,6.34Z" transform="translate(-2585.16 -5801.22)"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 d-flex flex-row justify-content-center justify-content-md-end align-items-end">
      <p>SmartPet - 2019</p>
    </div>
  </article>

</section>
