<section class="container-fluid m-0 p-0 bg-gradientPurple row d-flex flex-column justify-content-center align-items-center loginSect">

  <div class="d-flex justify-content-center align-items-center m-0 p-0 mb-4 imgLogin">
    <figure  class="d-flex justify-content-center align-items-center m-0 p-0">
      <img src="../../assets/Illustrations/Logo3.png" alt="SmartPet logo">
    </figure>
  </div>

  <form action="index.html" method="post" class="col-8 col-md-6 d-flex flex-column justify-content-center align-items-center">

    <div class="form-login col-8 col-md-6 m-2">
      <input type="text" placeholder="Ingresa tu usario" id="inputText">
      <div class="input-login"></div>
    </div>

    <div class="form-login col-8 col-md-6 m-2">
      <input type="password" placeholder="Ingresa tu contraseña" id="inputText">
      <div class="input-login"></div>
    </div>

    <div class="d-flex m-0 p-0 flex-row col-8 justify-content-around align-items-center row  flex-row m-2 btnsLogin">
      <button type="submit" name="button" class="btnSmart btn-mainPurple">Iniciar Sesión</button>
      <button name="button" class="btnSmart btn-secondPurple">Cancelar</button>
    </div>
  </form>

  <article class="d-flex flex-row container-fluid m-0 p-0 justify-content-center align-items-center col-12 row">
    <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
      redes
    </div>

    <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
      <h5>Holas :)</h5>
    </div>
  </article>

</section>
