<article class="col-12 d-flex flex-column justify-content-center align-items-start m-0 p-3 dateSmCard row dropright border-{{statePet}}">

  <h5>CITA TITULO</h5>
    <hr class="bg-{{statePet}}">
  <ul class="m-0 p-0 col-12">
    <li class="dataDate">Fecha: 25/10/2019</li>
    <li class="dataDate">Hora: 14:50</li>
    <li class="dataDate">Mascota: Juancho</li>
    <li class="dataDate">Doctor: Guillermo</li>
  </ul>

  <div class="col-12 m-0 p-0 row">
    <button type="button" name="button" class="btnSmart btn-secondPurple dropdown-toggle border-{{statePet}}" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
      <ul>
        <li class="col-12 menuBtns">
          <a class="dropdown-item" href="#">Action</a>
          <div class="navDecoration"></div>
        </li>
        <li class="col-12 menuBtns">
          <a class="dropdown-item" href="#">Action</a>
          <div class="navDecoration"></div>
        </li>
        <li class="col-12 menuBtns">
          <a class="dropdown-item" href="#">Action</a>
          <div class="navDecoration"></div>
        </li>
        <li class="col-12 menuBtns">
          <a class="dropdown-item" href="#">Action</a>
          <div class="navDecoration"></div>
        </li>
      </ul>
    </div>
  </div>
</article>
